<!doctype html>

<html ng-app="MainApp">
<head>
	<title>Ey! | a un toque</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/ey.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="eymodule.js"></script>

</head>
<body ng-controller="mainController">
	<div class="main-container">
        <header>
            <h1><a href="index.html">Ey! A un toque</a></h1>
        </header>
    </div>
    <div class="main-container">
        <div id="nav-container">
            <nav>
                <ul class="nav">
                    <li class="active"><a href="index.html">Inicio</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="main-container">
        <div class="container1">
            <div id="mySlides">
                <div id="slide1">
                    <img src="images/banner_EY.jpg" alt="Slide 1 jFlow Plus"/>
                </div>
                <div id="slide2">
                    <img src="images/banner2_EY.jpg" alt="Slide 2 jFlow Plus"/>
                </div>
                <div id="slide3">
                    <img src="images/banner3_EY.jpg" alt="Slide 3 jFlow Plus"/>
                </div>
                <div id="slide4">
                    <img src="images/banner4_EY.jpg" alt="Slide 4 jFlow Plus"/>
                </div>
            </div>

            <div id="myController">
                <span class="jFlowControl"></span>
                <span class="jFlowControl"></span>
                <span class="jFlowControl"></span>
                <span class="jFlowControl"></span>
            </div>

            <section class="jFlowPrev">
                <div></div>
            </section>
            <section class="jFlowNext">
                <div></div>
            </section>
        <br/>
    </div>
        <div class="callout">
        <div class="calloutcontainer">
            <div class="container_12">
                <div class="grid">
                    <div class="alignleft"><h3>Registrate ahora y no te pierdas todo el contenido publicado especialmente para tí...</h3></div>
                </div>
                
            </div>
        </div>
        </div>

        <div id="formulario">
        <div class="row">
        <div class="col-sm-4 col-sm-offset-1 text-center">
            <form name="myForm">
                <div id="contenedor">
                    <div id="contenidos">
                        <input type="text" class="form-control input-lg text-center" placeholder="*Nombre" ng-model="newUsuario.nombre" required><br>
                    </div>
                    <div id="contenidos">
                        <input type="text" class="form-control input-lg text-center" placeholder="*Edad" ng-model="newUsuario.edad" required><br>
                    </div>
                    <div id="contenidos">
                        <input type="email" class="form-control input-lg text-center" placeholder="*Email" ng-model="newUsuario.email" required><br>
                    </div>
                    <div id="contenidos">
                        <input type="text" class="form-control input-lg text-center" placeholder="Celular" ng-model="newUsuario.celular" required>
                    </div><br>
                    <div id="contenidos">
                        <input type="checkbox" align="right" name="politicaDatos" value="A" ng-model="newUsuario.politicas" required/> Acepto políticas de privacidad de datos
                        <br>
                    </div>
                    <div id="contenidos" align="right"><button type="submit" class="btn btn-success btn-lg" ng-click="registrarUsuario()" ng-disabled="myForm.$invalid || selected">Registrar</button></div>
                    
                </div>
            </form>
            <div class="clear"></div><br/>
        </div>

       
        </div>

        </div>

    <div class="callout">
        <div class="calloutcontainer">
            <div class="container_12">
                <div class="grid">
                    <div align="center"><h3>COMO USAR EY! A UN TOQUE </h3></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <br/>

    <div class="container2">
        <article id="home_featured2">
            <ul>
                <li>
                    <div class="imgholder"><a href="images/slide1.png" data-gal="prettyPhoto[featured]"
                                              title="First Featured Title"><img src="images/slide1.png" width="275"
                                                                                height="145" alt=""/></a></div>
                    <h4>Registrate</h4>

                    <p>Ingresar es fácil, solo debes registrar unos datos básicos</p>
                </li>
                <li>
                    <div class="imgholder"><a href="images/slide2.png" data-gal="prettyPhoto[featured]"
                                              title="Second Featured Title"><img src="images/slide2.png" width="275"
                                                                                 height="145" alt=""/></a></div>
                    <h4>Selecciona tus preferencias</h4>

                    <p>Selecciona los tipos de notifiaciones que quieres ver siempre</p>
                </li>
                <li class="last">
                    <div class="imgholder"><a href="images/slide3.png" data-gal="prettyPhoto[featured]"
                                              title="Third Featured Title"><img src="images/slide3.png" width="275"
                                                                                height="145" alt=""/></a></div>
                    <h4>Navega por todos los contenidos</h4>

                    <p>Es hora de ver todas las publicaciones...</p>
                </li>
            </ul>
            <br class="clear"/>
        </article>
    </div>
</div>


<div class="main-container">
</div>

<div class="callout">
    <div class="calloutcontainer">
        <div class="container_12">
            <div class="grid">
                <article class="footbox last">
                    <h2>Nuestras redes sociales!</h2>
                    <div id="social">
                        <a href="http://twitter.com/priteshgupta" class="s3d twitter"> Twitter <span class="icons twitter"></span> </a>
                        <a href="http://www.facebook.com/priteshgupta" class="s3d facebook"> Facebook <span class="icons facebook"></span> </a>
                    </div>
                </article>
                <div class="clear"></div>
            </div>
            <div class="calloutoverlay"></div>
            <div class="calloutoverlaybottom"></div>
        </div>
    </div>
</div>
<footer>
    <p class="tagline_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="tagline_right">Design by <a href="http://www.priteshgupta.com/" title="Pritesh Gupta" target="_blank">PriteshGupta.com</a></p>
    <br class="clear"/>
</footer>

<br/>
<br/>
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/jflow.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>
</body>
</html>